.center-image-container {
    display: flex;
    justify-content: center;
}
.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.price {
    color: #555;
    font-size: 18px;
}

.card p {
    color: #777;
    font-size: 14px;
    line-height: 1.4;
}

.quantity-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

    .quantity-container input {
        width: 100%;
        padding: 8px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 5px;
    }

.vertical-buttons {
    display: flex;
    flex-direction: column;
}

.card button,
.go-to-cart-button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.card button {
    background-color: #4caf50;
}

.go-to-cart-button {
    background-color: #3498db;
}

    .card button:hover,
    .go-to-cart-button:hover {
        opacity: 0.8;
    }

.product-select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px;
    margin: 20px;
    display: block;
    border-radius: 5px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #d6e9c6;
    padding: 10px;
    margin: 20px;
    display: block;
    border-radius: 5px;
}